.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

@media only screen and (max-width: 1100px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 850px) {
  .card-list {
    width: 75vw;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  .card-list {
    width: 90vw;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .card-list {
    width: 65vw;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}
