.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);

  transition: transform 0.25s ease-out;
}

img {
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .card-container {
    width: 70%;
  }
}

.card-container:hover {
  transform: scale(1.05);
}
